<header class="header">
  <!--<navigation-trigger></navigation-trigger>-->

  <div class="header__logo">
    <h1>
      <a *ngIf="!sidebarVisible" [routerLink]="['/public']">Crypto 1.0</a>
      <a *ngIf="sidebarVisible" [routerLink]="['/crypto']">Crypto 1.0</a>
    </h1>
  </div>

  <header-search #search class="toggled" [class.toggled]="search.searchActive"></header-search>

  <ul class="top-nav">

    <li dropdown *ngIf="!sidebarVisible">
      <a *ngIf="!sidebarVisible" [routerLink]="['/login']" class="btn btn-success">Login</a>
    </li>

    <li dropdown *ngIf="!sidebarVisible">
      <a *ngIf="!sidebarVisible" [routerLink]="['/register']" class="btn btn-success">New User? Register here</a>
    </li>

    
    <li dropdown *ngIf="sidebarVisible">
     <a [routerLink]="['/profile']" class="btn btn-success">Profile</a>
    </li>

    <li dropdown *ngIf="sidebarVisible">
      <a [routerLink]="['/logout']" class="btn btn-success">logout</a>
    </li>

  </ul>

</header>
